* {
	box-sizing: border-box;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Sen', sans-serif;
	margin: 0;
	font-size: 19px;
}

h2 {
	float: left;
	margin-left: 5%;
	padding: 2%;
}

h2 span {
	display: block;
	margin-top: 2%;
	font-size: 65%;
	color: rgba(64, 71, 71, 0.7);
}

h3 {
	padding: 2%;
	font-size: 170%;
}

ul {
	padding: 0;
}

ul, a {
	list-style: none;
}

nav {
	background-color: white;
	border-bottom: 1px solid rgba(64, 71, 71, 0.5);
	width: 100%;
	position: fixed;
	top: 0;
}

nav ul {
	overflow: auto;
	background-color: transparent;
}

nav li {
	float: left;
	width: 33%;
	padding: 30px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: rgb(53, 172, 181);
	font-size: 95%;
}

nav a:hover {
	color: rgba(64, 71, 71, 0.5);
	text-decoration: underline;
	font-size: 105%;
	transition: font-size 0.5s;
}

nav img {
	float: right;
	margin-left: 65%;
	width: 130%;
	display: none;
}

.container {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
 
.about {
	padding-top: 125px;
	margin-bottom: 5%;
}

.about p {
	margin-left: 5%;
	margin-right: 5%;
	padding: 1%;
}

.about span {
	font-weight: 900;
	color: rgb(53, 172, 181);
}

.about a {
	text-decoration: none;
}

.photo {
	width: 18%;
	height: 10%;
	border-radius: 50%;
	margin-bottom: 3%;
}

.tools {
	overflow: auto;
	padding-bottom: 2%;
}

.tools h3 {
	margin-top: 15px;
	font-size: 125%;
}

.coding-icon {
	width: 70%;
	margin: 5px;
}

.skills {
	width: 25%;
	float: left;
	padding: 15px;
}

.tools p {
	color: white;
	font-weight: 700;
	width: 100%;
}

.portfolio-header {
	width: 85%;
}

.portfolio {
	overflow: auto;
	margin-bottom: 70px;
}

.portfolio div {
    width: 30%;
	height: 480px;
    float: left;
    padding: 1.5%;
	margin: 1.5%;
	border: 3px solid rgba(53, 172, 181, 0.3);
	border-radius: 15px;
}

.portfolio img {
	max-width: 100%;
}

.portfolio p {
	margin: 2%;
	margin-top: 5%;
	font-size: 95%;
}

.portfolio button {
	color: white;
	font-weight: 700;
	background-color: rgb(53, 172, 181);
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 12px;
}

.portfolio button:hover {
	color: rgba(53, 172, 181);
	font-size: 110%;
	font-weight: 700;
	background-color: white;
	text-decoration: none;
	border: 2px solid rgb(53, 172, 181);
	border-radius: 12px;
	cursor: pointer;
}

.portfolio button:focus {
	outline: 0;
}

.contact {
	color: white;
	background-color: rgb(53, 172, 181);
	text-align: center;
	height: 350px;
	margin-bottom: 5%;
}

.email {
	padding: 20px;
}

.email ion-icon {
	font-size: 30px;
}

.email p {
	display: inline-block;
}

.email p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.social-buttons {
	width: 80%;
	height: 20%;
	margin-top: 2.5%;
}

.social-buttons div {
	width: 33%;
	height: 100%;
	float: left;
}

.social-buttons a {
	color: rgb(255, 255, 255);
}

.social-buttons ion-icon {
	font-size: 70px;
	overflow: hidden;
	transition-duration: 0.3s;
	transition-property: transform;
}

.social-buttons ion-icon:hover {
	font-size: 85px;
	cursor: pointer;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.copyright {
	margin-top: 10px;
	font-size: 15px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1950px) {
	.copyright {
		padding-top: 2%;
	}
	.contact {
		height: 400px;
	}
}

@media screen and (max-width: 1340px) {
	.portfolio {
		margin-top: 2%;
	}
	.copyright {
		padding-top: 3%;
	}
	.portfolio div {
		width: 47%;
	}
}
@media screen and (max-width: 1000px) {
	.contact {
		height: 320px;
	}
}
@media screen and (max-width: 860px) {
	h2 {
		font-size: 20px;
	}
	.about p {
		font-size: 15px;
	}
	ul {
		display: none;
	}
	.hamburger {
		display: block;
		float: right;
		height: 70px;
		width: 80px;
		background-image: url(portfolioImages/hamburger-icon.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.skills {
		width: 33%;
		float: left;
	}
	.portfolio button:hover {
		font-size: 100%;
	}
	.contact {
		height: 320px;
	}
}
@media screen and (max-width: 700px) {
	.portfolio div {
	    width: 98%;
	}
	.image-reduce {
		width: 80%;
	}
}
@media screen and (max-width: 570px) {
	.skills {
		width: 50%;
		float: left;
	}
	html {
		font-size: 15px;
	}
	.hamburger {
		display: block;
		float: right;
		height: 57px;
		width: 68px;
		background-image: url(portfolioImages/hamburger-icon.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.contact {
		font-size: 90%;
	}
	.social-buttons ion-icon {
		font-size: 60px;
	}
	.social-buttons ion-icon:hover {
		font-size: 70px;
		cursor: pointer;
	}
}
@media screen and (max-width: 375px) {
	.about {
		margin-top: 70px;
	}
}
@media screen and (max-width: 320px) {
	.about {
		margin-top: 70px;
	}
}