*{
	box-sizing: border-box;
}

body{
	font-family: Didot;
	margin: 0;
	font-size: 20px;
}

h2{
	text-align: left;
	color: rgb(64, 71, 71);
	margin-left: 10%;
}

ul, a{
	list-style: none;
}

nav>div{
	max-width: 900px;
	margin: 0 auto;
}

nav ul{
	overflow: auto;
	background-color: white;
}

li{
	float: left;
	width: 33%;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
}

a{
	text-decoration: none;
	color: rgb(53, 172, 181);
}

a:hover{
	color: rgb(64, 71, 71, 0.5);
	text-decoration: underline;
}

.about{
	text-align: center;
}


.photo{
	width: 10%;
	height: 10%;
	border-radius: 50%;
}

.about>div{
	background-color: rgb(194, 194, 194);
	height: 300px;
}

.coding-icon{
	width: 10%;
}