*{
	box-sizing: border-box;
}

body{
	font-family: Didot;
	margin: 0;
	font-size: 20px;
}

h2{
	text-align: center;
	color: rgb(64, 71, 71);
}

ul, a{
	list-style: none;
}

nav>div{
	max-width: 900px;
	margin: 0 auto;
}

ul{
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
}

li{
	float: left;
	width: 33%;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
}

a{
	text-decoration: none;
	color: rgb(53, 172, 181);
}

a:hover{
	color: rgb(64, 71, 71, 0.5);
	text-decoration: underline;
}

img{
	width: 10%;
	height: 10%;
}