*{
	box-sizing: border-box;
	margin: 0 auto;
}

body{
	font-family: Didot;
	margin: 0;
	font-size: 20px;
}

h2{
	text-align: left;
	color: rgb(64, 71, 71);
	margin-left: 5%;
	padding: 2%;
}

h3{
	padding: 2%;
}

ul, a{
	list-style: none;
}

nav>div{
	max-width: 900px;
	margin: 0 auto;
}

nav ul{
	overflow: auto;
	background-color: white;
}

li{
	float: left;
	width: 33%;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
}

a{
	text-decoration: none;
	color: rgb(53, 172, 181);
	font-size: 95%;
}

a:hover{
	color: rgb(64, 71, 71, 0.5);
	text-decoration: underline;
	font-size: 105%;
	transition: font-size 0.5s;
}

.about{
	text-align: center;
	height: 20%;
	margin-bottom: 5%;
}

.photo{
	width: 10%;
	height: 10%;
	border-radius: 50%;
	margin-bottom: 3%;
}

.container{
	background-color: rgb(194, 194, 194);
	height: 0%;
	text-align: center;
	overflow: auto;
	width: 100%;
	margin: 0 auto;
}

.coding-icon{
	width: 10%;
	border: 1px solid black;
	float: left;
}

.skills{
	width: 33%;
}

.container p{
	color: red;
	margin: 0 auto
	padding: 0;
}


/*make coding icons align vertically when screen size small*/
@media screen and (max-width: 770px){
	.coding-icon{
		width: 10%;
	}
}

/*@media screen and (max-width: 768px) {
	html {
		font-size: 15px;
	}

	nav {
		height: 46px;
	}

	nav img {
		padding: 2px;
	}

	header {
		height: 220px;
		padding-top: 40px;
	}

	nav li {
		padding: 10px 10px;
	}
}

@media screen and (max-width: 375px) {
	html {
		font-size: 12px;
	}

	nav {
		height: 40px;
	}

	header {
		height: 200px;
		padding-top: 40px;
	}

	nav li {
		padding: 10px 3px;
	}
	.navContainerLogo {
		display: none;
	}

	header h2 {
		padding-right: 20px;
	}

	header p {
		padding: 3px 20px;
	}
}*/